*.o
.DS_Store
.*.swp
/env
/dl
/bin
/build_dir
/staging_dir
/tmp
/logs
/overlay
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
